 <div class="main" >
  <%= flash[:message] %>
  <%= form_for :auth do |f| %>
  <h1> Welcome to the Diverge App!</h1>
<h3>Home to your one stop shop for all your game reviewing needs</h3>
<div>
<h1>Please Login Here</h1>
    Username <%= f.text_field :username %><br>
    Password <%= f.password_field :password %>
        <%= f.submit "Login" %><br>
  <% end %>  

