 <%= flash[:alert] %>
<h1>Drop Your Review Here! </h1>

<%= form_for @review do |f| %>
    <%= f.text_area(:reviewed_game, :size => "100x20") %>
   Leave Your Rating Here: <%= f.number_field(:rating, within: 0..5) %>
    <%= f.hidden_field :purchase_id, value: @purchase_id %>
    <%= f.submit "Submit Review" %>
<% end %>